    @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@200&display=swap');





    .card {
        background-color: white;

        /* margin: 100px auto; */
        padding: 15px;
       
        height: auto;
        transition-duration: 2s;
        border-radius: 20px;


    }

    .card:hover {
        transition-duration: 1s;

        box-shadow: rgba(226, 224, 224, 0.425) 0px 50px 100px -20px, rgba(255, 255, 255, 0.671) 0px 30px 60px -30px, rgba(214, 214, 214, 0.54) 0px -2px 6px 0px inset;


    }

    .card-img {

        width: 370px;
        height: 250px;
        border-radius: 20px 20px 0px 0px;
    }

    .content-capsules {
        margin: 15px 0px;

    }

    .content-capsules span {
        padding: 7px 15px;
        margin-right: 5px;
        font-family: 'Oswald';
        background-color: rgba(185, 185, 185, 0.418);
        color: rgb(134, 134, 134);
        border-radius: 16px;
    }

    .content-capsules span:hover {
        color: black;
        border: px solid gray;
        box-shadow: rgba(28, 28, 28, 0.3) 0px 5px 10px, rgba(59, 59, 59, 0.22) 0px 6px 3px;
        transition-duration: 0.7s;

    }

    .content-head h2 {
        margin: 10px 0px;
        font-size: 30px;
        font-family: 'Nunito', sans-serif;


    }

    .content-body p {

        font-family: sans-serif;
        font-size: 18px;
    }

    .button {
        margin: 10px 0px;
        text-align: center;

    }

    .button button {
        padding: 5px 0px;
        font-family: 'Nunito';
        font-size: 20px;
        border: none;
        border-radius: 10px;
        width: 100%;
    }

    .button button:hover {
        background-color: rgba(128, 128, 128, 0.341);
        transition: 0.5s;
    }