.sticky-top {
    /* margin-top: -65px; */

}

.News-footer {
    position: fixed;


    width: 100%;
    background-color: black;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    z-index: 99;
}

.N-text {
    padding-top: 10px;
    vertical-align: middle;
    font-size: 25px;
    color: yellow;
    margin: 0;
    width: 100%;
    animation: marquee 10s linear infinite;
    display: inline-block;
    padding-right: 10px;
}

.news {
    height: auto;
    background-color: red;
    padding: 13px 30px 10px 30px;
    font-size: 20px;
    color: white;
    z-index: 9;
    display: block;
}

.news:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: 99;
    animation: slide 5s infinite;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
    /* IE6-9 */
}

#news-head:before {
    position: absolute;
    content: '';
    top: 19px;
    left: 9px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #fff;
    animation: at-blink .4s infinite;
}

@keyframes at-blink {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.t-link {
    color: inherit !important;
    list-style: none;
}


@media only screen and (max-width: 600px) {
  .News-footer {

    margin-top: 50px;
  }
}